
# Tinder Recommandation Project

## Company's Description üìá

<a href="https://tinder.com/?lang=en" target="_blank">Tinder</a> is of one the most famous online dating application in the world right now. The whole idea is to being able to anonymously swipe right or left on a person to show if you liked her or not. If both person swiped right: *It's a match*! And then you can start chatting! 

This whole concept revolutionized the way young people date. Founder <a href="https://www.crunchbase.com/person/sean-rad" target="_blank">Sean Rade</a> believed that *"no matter who you are, you feel more comfortable approaching somebody if you know they want you to approach them."*

With over 50 million users (80% + from 16 to 34), Tinder's valuation is around $1.4 billion which makes this start-up one of the most famous unicorn in california as of today. üòÆ

## Project üöß

The main way for Tinder to bring value to its users is to recommand the right profile to the right person! However, as user base is growing Tinder cannot simply show a random profile or the "most liked" person to a given user. 

We will **create a recommandation engine that will show-up the people a user will likely match.** 

  Indeed Tinder's internal data team created a scoring based on several variables that the company is keeping secret. This score is from 0 to 10 and describes how much a user "liked" a person. We will use them for our recommendation system.

## Goals üéØ

Our goal is to

* Recommend 10 best profiles for a given user

## Scope of this project üñºÔ∏è

The dataset is availabale here:


üëâüëâ <a href="https://full-stack-bigdata-datasets.s3.eu-west-3.amazonaws.com/Unsupervised_Learning/Tinder_data.zip" target="_blank">Tinder Data</a> üëàüëà

The files contain 17,359,346 anonymous ratings of 168,791 profiles made by 135,359 LibimSeTi users. You will find a zip file contained data on gender for each person as well as a rating.

## Helpers ü¶Æ

Here are a few tips to help us.

### Introduction to Recommendation engines 

It is now time to discuss Recommendation Engines. 
There are two types of recommendation engines: 

1. Collaborative Filtering 
2. Content Based 

![](https://miro.medium.com/max/690/1*G4h4fOX6bCJhdmbsXDL0PA.png)

### Collaborative filtering principles 

We start this project with Collaborative Filtering. The idea is to recommend a product based on other users' review. Let u see the idea behind  [this explanatory gif](https://www.kdnuggets.com/2019/09/machine-learning-recommender-systems.html#:~:text=Recommender%20systems%20are%20an%20important,to%20follow%20from%20example%20code.) from KDNugget: 

![](https://miro.medium.com/max/623/1*hQAQ8s0-mHefYH83uDanGA.gif)

Instead of having "products" to recommend, this time, we will recommend people!

### Build a utility matrix 

Our goal is to be able to create a recommandation engine built on a utility matrix like this one <a href="https://towardsdatascience.com/math-for-data-science-collaborative-filtering-on-utility-matrices-e62fa9badaab" target="_blank">utility matrix</a>. This should look something like this: 

<img src="https://full-stack-assets.s3.eu-west-3.amazonaws.com/images/utility_matrix.png"/>

### Machine Learning

TruncatedSVD is the perfect algorithm here gue to the sparsity of the utility matrix! üëè We will apply this algorithm to reduce dimension and then create a <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.corr.html" target="_blank">correlation matrix</a> to see which profile are correlated and thefore would be a match!

## Deliverable üì¨

Goals: 

* Have built a utility matrix 
* Have created a correlation matrix 
* Recommend a list of 10 profiles for a random user

# 1. Reading the data

In [1]:
import pandas as pd 

genders = pd.read_csv("http://www.occamslab.com/petricek/data/gender.dat", header=None)
genders.head()

   0  1
0  1  F
1  2  F
2  3  U
3  4  F
4  5  F

In [2]:
ratings = pd.read_csv("http://www.occamslab.com/petricek/data/ratings.dat", header=None)
ratings = ratings.sample(30000)
ratings.head()

               0       1   2
6201361    49264  191514   9
634052      4917  198249   5
16949074  131999   96789  10
13636946  105868  164427   2
17309833  134989  194553   6

In [3]:
genders.to_csv('genders.csv')
ratings.to_csv('ratings.csv')

## Exploration 


* We rename the columns the following way: `["UserID", "ProfileID", "Rating"]`

* Then  we find the most rated profiles

In [4]:
ratings = ratings.rename(columns={0: "UserID", 1: "ProfileID", 2: "Rating"})
ratings.head()

          UserID  ProfileID  Rating
6201361    49264     191514       9
634052      4917     198249       5
16949074  131999      96789      10
13636946  105868     164427       2
17309833  134989     194553       6

In [5]:
ratings.groupby("ProfileID")["Rating"].count().sort_values(ascending=False).head()

ProfileID
156148    49
121859    47
22319     44
193687    44
31116     42
Name: Rating, dtype: int64

### Build a Utility Matrix

In [6]:
ratings = ratings.pivot_table(values="Rating", index="ProfileID", columns="UserID", fill_value=0)
ratings

UserID,2,9,19,38,43,60,62,69,73,74,...,135316,135323,135331,135337,135339,135340,135343,135350,135357,135359
ProfileID,,,,,,,,,,,,,,,,,,,,,
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
55,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
90,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
103,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220892,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
220928,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
220947,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
220948,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
220953,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Using SVD to create a Recommendation Engine

* Using TruncatedSVD from Sklearn
* Calculating correlations for each users based on the result matrix 
* Getting recommendation for one user.

In [7]:
import numpy as np 
import sklearn
from sklearn.decomposition import TruncatedSVD

# Initiate SVD 
SVD = TruncatedSVD(n_components=12)

# Use fit method to perform SVD on user Ratings
resultant_matrix = SVD.fit_transform(ratings)

# Calculate Pearson correlation for all people.
corr_mat = np.corrcoef(resultant_matrix)

# Print the correlation coefficient for 5 persons
corr_mat[:5, :]

array([[ 1.        ,  0.62235021,  0.39730877, ...,  0.18602012,
         0.01300132, -0.52934619],
       [ 0.62235021,  1.        , -0.14316782, ...,  0.13819985,
        -0.05438472, -0.1240246 ],
       [ 0.39730877, -0.14316782,  1.        , ...,  0.05336358,
        -0.40588686, -0.68922699],
       [-0.01596799, -0.38752368,  0.33228579, ...,  0.44382775,
         0.62942183, -0.53683792],
       [-0.0662929 , -0.49130695,  0.27301689, ...,  0.30294781,
         0.58472229, -0.50517138]])

In [8]:
corr_mat.shape

(18208, 18208)

In [14]:
#Generate a list of all movie names
all_users = ratings.columns
all_users_list = list(all_users)

In [15]:
all_users_list

[2,
 9,
 19,
 38,
 43,
 60,
 62,
 69,
 73,
 74,
 75,
 87,
 88,
 90,
 93,
 104,
 112,
 119,
 134,
 135,
 141,
 147,
 153,
 155,
 156,
 160,
 182,
 184,
 196,
 198,
 202,
 203,
 217,
 220,
 223,
 251,
 256,
 280,
 286,
 308,
 309,
 312,
 315,
 316,
 325,
 328,
 332,
 335,
 341,
 347,
 352,
 361,
 364,
 368,
 371,
 374,
 375,
 380,
 384,
 398,
 405,
 406,
 408,
 416,
 421,
 444,
 445,
 452,
 455,
 459,
 461,
 467,
 468,
 477,
 484,
 485,
 495,
 496,
 498,
 504,
 505,
 506,
 510,
 513,
 520,
 535,
 536,
 538,
 544,
 545,
 552,
 559,
 573,
 587,
 594,
 596,
 607,
 612,
 613,
 617,
 621,
 632,
 648,
 649,
 659,
 662,
 667,
 670,
 675,
 677,
 679,
 684,
 696,
 702,
 703,
 706,
 708,
 720,
 729,
 730,
 737,
 739,
 740,
 742,
 744,
 745,
 748,
 749,
 757,
 768,
 776,
 782,
 794,
 804,
 822,
 825,
 838,
 852,
 853,
 854,
 859,
 872,
 876,
 877,
 879,
 882,
 890,
 894,
 898,
 900,
 908,
 910,
 919,
 929,
 931,
 937,
 940,
 942,
 946,
 952,
 956,
 961,
 979,
 991,
 992,
 1006,
 1009,
 1017,
 1023,
 1035,
 1037,
 1050,
 1056,
 1073,
 1079,
 1080,
 1081,
 1085,
 1088,
 1089,
 1090,
 1101,
 1108,
 1113,
 1115,
 1119,
 1128,
 1135,
 1156,
 1159,
 1164,
 1167,
 1174,
 1178,
 1183,
 1185,
 1187,
 1196,
 1198,
 1199,
 1200,
 1205,
 1211,
 1218,
 1221,
 1225,
 1228,
 1244,
 1253,
 1260,
 1272,
 1275,
 1277,
 1283,
 1289,
 1296,
 1297,
 1307,
 1327,
 1338,
 1362,
 1369,
 1371,
 1373,
 1376,
 1388,
 1391,
 1394,
 1402,
 1407,
 1408,
 1413,
 1419,
 1426,
 1429,
 1441,
 1443,
 1449,
 1453,
 1454,
 1458,
 1460,
 1473,
 1476,
 1483,
 1486,
 1499,
 1508,
 1519,
 1525,
 1526,
 1533,
 1541,
 1543,
 1560,
 1562,
 1568,
 1604,
 1618,
 1630,
 1634,
 1636,
 1638,
 1653,
 1659,
 1664,
 1665,
 1668,
 1679,
 1683,
 1687,
 1689,
 1693,
 1695,
 1696,
 1698,
 1699,
 1711,
 1715,
 1719,
 1727,
 1729,
 1733,
 1735,
 1744,
 1745,
 1756,
 1763,
 1769,
 1771,
 1772,
 1781,
 1782,
 1783,
 1791,
 1793,
 1796,
 1797,
 1800,
 1801,
 1808,
 1810,
 1822,
 1826,
 1835,
 1848,
 1849,
 1850,
 1852,
 1853,
 1856,
 1857,
 1881,
 1883,
 1890,
 1893,
 1902,
 1905,
 1920,
 1925,
 1928,
 1944,
 1949,
 1953,
 1962,
 1967,
 1968,
 1971,
 1977,
 1979,
 1989,
 1991,
 2030,
 2038,
 2039,
 2046,
 2047,
 2052,
 2063,
 2071,
 2075,
 2082,
 2094,
 2098,
 2103,
 2122,
 2133,
 2135,
 2140,
 2147,
 2152,
 2154,
 2159,
 2164,
 2166,
 2177,
 2185,
 2190,
 2196,
 2200,
 2202,
 2203,
 2213,
 2215,
 2216,
 2219,
 2220,
 2228,
 2241,
 2251,
 2254,
 2268,
 2280,
 2288,
 2289,
 2290,
 2293,
 2296,
 2304,
 2309,
 2310,
 2315,
 2317,
 2320,
 2321,
 2325,
 2327,
 2336,
 2343,
 2348,
 2349,
 2362,
 2366,
 2387,
 2389,
 2391,
 2395,
 2400,
 2405,
 2432,
 2437,
 2445,
 2457,
 2460,
 2465,
 2469,
 2472,
 2474,
 2482,
 2484,
 2486,
 2495,
 2497,
 2500,
 2504,
 2505,
 2526,
 2529,
 2530,
 2539,
 2540,
 2542,
 2543,
 2546,
 2547,
 2563,
 2569,
 2575,
 2579,
 2585,
 2594,
 2597,
 2600,
 2601,
 2612,
 2616,
 2617,
 2634,
 2665,
 2671,
 2672,
 2674,
 2685,
 2688,
 2689,
 2710,
 2727,
 2742,
 2749,
 2753,
 2754,
 2755,
 2764,
 2772,
 2776,
 2777,
 2778,
 2812,
 2814,
 2818,
 2827,
 2837,
 2838,
 2843,
 2845,
 2851,
 2860,
 2862,
 2867,
 2885,
 2886,
 2899,
 2901,
 2904,
 2912,
 2914,
 2921,
 2922,
 2939,
 2942,
 2943,
 2945,
 2947,
 2951,
 2956,
 2964,
 2965,
 2969,
 2979,
 2983,
 2987,
 2988,
 2995,
 2998,
 3001,
 3004,
 3018,
 3020,
 3027,
 3035,
 3039,
 3044,
 3046,
 3054,
 3056,
 3065,
 3067,
 3073,
 3093,
 3099,
 3114,
 3119,
 3133,
 3141,
 3164,
 3166,
 3170,
 3173,
 3187,
 3188,
 3189,
 3193,
 3197,
 3199,
 3206,
 3208,
 3213,
 3222,
 3223,
 3228,
 3231,
 3232,
 3236,
 3246,
 3257,
 3260,
 3261,
 3268,
 3273,
 3275,
 3277,
 3280,
 3294,
 3300,
 3301,
 3312,
 3319,
 3321,
 3334,
 3339,
 3343,
 3344,
 3346,
 3352,
 3357,
 3359,
 3372,
 3385,
 3393,
 3398,
 3401,
 3406,
 3426,
 3439,
 3448,
 3449,
 3458,
 3462,
 3468,
 3480,
 3482,
 3494,
 3499,
 3502,
 3509,
 3522,
 3539,
 3542,
 3572,
 3574,
 3578,
 3589,
 3595,
 3607,
 3615,
 3621,
 3633,
 3635,
 3649,
 3650,
 3664,
 3666,
 3670,
 3683,
 3688,
 3691,
 3692,
 3706,
 3719,
 3727,
 3735,
 3740,
 3741,
 3745,
 3769,
 3780,
 3784,
 3799,
 3802,
 3807,
 3811,
 3814,
 3821,
 3826,
 3829,
 3836,
 3847,
 3849,
 3856,
 3869,
 3870,
 3873,
 3881,
 3896,
 3900,
 3911,
 3914,
 3915,
 3920,
 3927,
 3949,
 3953,
 3964,
 3965,
 3966,
 3975,
 3983,
 3988,
 3989,
 3998,
 4004,
 4018,
 4021,
 4022,
 4031,
 4035,
 4036,
 4038,
 4043,
 4056,
 4060,
 4068,
 4076,
 4078,
 4079,
 4094,
 4096,
 4100,
 4105,
 4115,
 4151,
 4162,
 4166,
 4173,
 4176,
 4178,
 4187,
 4197,
 4200,
 4208,
 4209,
 4216,
 4228,
 4229,
 4231,
 4238,
 4239,
 4241,
 4243,
 4247,
 4249,
 4250,
 4252,
 4259,
 4265,
 4273,
 4284,
 4287,
 4290,
 4309,
 4315,
 4316,
 4318,
 4333,
 4335,
 4338,
 4343,
 4344,
 4345,
 4346,
 4347,
 4349,
 4354,
 4366,
 4369,
 4371,
 4375,
 4380,
 4395,
 4401,
 4405,
 4407,
 4408,
 4413,
 4414,
 4423,
 4428,
 4433,
 4436,
 4439,
 4443,
 4454,
 4463,
 4468,
 4470,
 4484,
 4489,
 4531,
 4541,
 4546,
 4550,
 4559,
 4561,
 4565,
 4567,
 4568,
 4569,
 4570,
 4573,
 4578,
 4587,
 4592,
 4614,
 4615,
 4617,
 4627,
 4639,
 4643,
 4651,
 4654,
 4664,
 4665,
 4667,
 4674,
 4675,
 4677,
 4679,
 4683,
 4691,
 4696,
 4700,
 4714,
 4717,
 4719,
 4720,
 4737,
 4758,
 4764,
 4765,
 4769,
 4775,
 4783,
 4796,
 4799,
 4800,
 4820,
 4835,
 4837,
 4839,
 4840,
 4858,
 4878,
 4880,
 4881,
 4883,
 4884,
 4889,
 4895,
 4898,
 4906,
 4917,
 4929,
 4931,
 4947,
 4956,
 4964,
 4979,
 4986,
 4992,
 4999,
 5018,
 5023,
 5026,
 5037,
 5039,
 5042,
 5044,
 5045,
 5062,
 5064,
 5076,
 5097,
 5106,
 5108,
 5128,
 5133,
 5145,
 5156,
 5162,
 5171,
 5181,
 5184,
 5192,
 5206,
 5213,
 5217,
 5219,
 5222,
 5226,
 5239,
 5261,
 5265,
 5267,
 5269,
 5283,
 5285,
 5288,
 5290,
 5293,
 5294,
 5298,
 5299,
 5304,
 5307,
 5312,
 5313,
 5330,
 5334,
 5340,
 5341,
 5343,
 5347,
 5363,
 5364,
 5376,
 5382,
 5393,
 5395,
 5403,
 5404,
 5418,
 5429,
 5433,
 5437,
 5443,
 5444,
 5445,
 5449,
 5450,
 5453,
 5454,
 5457,
 5466,
 5468,
 5475,
 5487,
 5498,
 5507,
 5508,
 5513,
 5524,
 5529,
 5530,
 5534,
 5548,
 5552,
 5553,
 5559,
 5569,
 5576,
 5584,
 5593,
 5601,
 5613,
 5616,
 5620,
 5622,
 5624,
 5628,
 5634,
 5637,
 5646,
 5652,
 5655,
 5666,
 5669,
 5674,
 5675,
 5681,
 5684,
 5692,
 5696,
 5710,
 5711,
 5714,
 5715,
 5718,
 5724,
 5725,
 5744,
 5749,
 5755,
 5757,
 5758,
 5770,
 5772,
 5778,
 5779,
 5783,
 5802,
 5806,
 5807,
 5812,
 5829,
 5834,
 5835,
 5836,
 5848,
 5855,
 5859,
 5861,
 5862,
 5866,
 5888,
 5897,
 5904,
 5909,
 5910,
 5912,
 5913,
 5914,
 5922,
 5925,
 5932,
 5949,
 5950,
 5953,
 5967,
 5968,
 5970,
 5976,
 5980,
 5981,
 5983,
 6029,
 6034,
 6042,
 6044,
 6048,
 6049,
 6052,
 6059,
 6060,
 6062,
 6071,
 6083,
 6090,
 6099,
 6100,
 6108,
 6112,
 6113,
 6122,
 6126,
 6129,
 6138,
 6148,
 6173,
 6182,
 6184,
 6187,
 6200,
 6202,
 6204,
 6212,
 6217,
 6219,
 6221,
 6223,
 6234,
 ...]

In [19]:
user = 2
### recommendation system applied to a particular user
# Extract the correlation from corr. matrix.
corr_pers = corr_mat[all_users_list.index(user)] 

print("User {} is going to get along with:".format(user))
print(list(ratings[(corr_pers < 1.0) & (corr_pers > 0.9)].index[:10]))

User 2 is going to get along with:
[2, 67115, 91839, 96970, 102309, 109339, 115095, 122442, 138341, 138367]